@model GrabCarMVC.Models.user_driver

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>user_driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dog_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dog_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.token_expiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.token_expiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.social_unique_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.social_unique_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promo_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promo_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_referee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_referee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gcm_reg_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gcm_reg_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_location_road)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_location_road)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_model_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_model_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacture_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacture_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.present_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.present_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.license_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nid_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nid_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brtc_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brtc_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insurance_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insurance_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
