@model GrabCarMVC.Models.user_driver

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>user_driver</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.first_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name)
                @Html.ValidationMessageFor(model => model.first_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name)
                @Html.ValidationMessageFor(model => model.last_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullname)
                @Html.ValidationMessageFor(model => model.fullname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.picture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.picture)
                @Html.ValidationMessageFor(model => model.picture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bio)
                @Html.ValidationMessageFor(model => model.bio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.state)
                @Html.ValidationMessageFor(model => model.state)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zipcode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zipcode)
                @Html.ValidationMessageFor(model => model.zipcode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dog_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dog_id)
                @Html.ValidationMessageFor(model => model.dog_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.token, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.token)
                @Html.ValidationMessageFor(model => model.token)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.token_expiry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.token_expiry)
                @Html.ValidationMessageFor(model => model.token_expiry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.device_token, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.device_token)
                @Html.ValidationMessageFor(model => model.device_token)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.device_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.device_type)
                @Html.ValidationMessageFor(model => model.device_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.login_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.login_by)
                @Html.ValidationMessageFor(model => model.login_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.social_unique_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.social_unique_id)
                @Html.ValidationMessageFor(model => model.social_unique_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_at)
                @Html.ValidationMessageFor(model => model.created_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updated_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updated_at)
                @Html.ValidationMessageFor(model => model.updated_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitude)
                @Html.ValidationMessageFor(model => model.latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude)
                @Html.ValidationMessageFor(model => model.longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.debt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.debt)
                @Html.ValidationMessageFor(model => model.debt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deleted_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deleted_at)
                @Html.ValidationMessageFor(model => model.deleted_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rate)
                @Html.ValidationMessageFor(model => model.rate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rate_count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rate_count)
                @Html.ValidationMessageFor(model => model.rate_count)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.promo_count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.promo_count)
                @Html.ValidationMessageFor(model => model.promo_count)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_referee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.is_referee)
                @Html.ValidationMessageFor(model => model.is_referee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_type)
                @Html.ValidationMessageFor(model => model.user_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gcm_reg_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gcm_reg_id)
                @Html.ValidationMessageFor(model => model.gcm_reg_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.current_location_road, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.current_location_road)
                @Html.ValidationMessageFor(model => model.current_location_road)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.car_no, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.car_no)
                @Html.ValidationMessageFor(model => model.car_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.car_model_no, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.car_model_no)
                @Html.ValidationMessageFor(model => model.car_model_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.manufacture_year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.manufacture_year)
                @Html.ValidationMessageFor(model => model.manufacture_year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.car_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.car_type)
                @Html.ValidationMessageFor(model => model.car_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender)
                @Html.ValidationMessageFor(model => model.gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age)
                @Html.ValidationMessageFor(model => model.age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.present_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.present_address)
                @Html.ValidationMessageFor(model => model.present_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.license_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.license_image)
                @Html.ValidationMessageFor(model => model.license_image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nid_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nid_image)
                @Html.ValidationMessageFor(model => model.nid_image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brtc_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brtc_image)
                @Html.ValidationMessageFor(model => model.brtc_image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.insurance_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.insurance_image)
                @Html.ValidationMessageFor(model => model.insurance_image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
