<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Desh</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="opacity:1">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Desh Express", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li>@Html.ActionLink("Driver Registration", "Index", "SignUp")</li>
                    <li>@Html.ActionLink("Driver Login", "Login", "SignUp")</li>

                    <li>@Html.ActionLink("Passenger Registration", "Create", "Passenger")</li>

                    <li>@Html.ActionLink("Passenger Login", "SignIn", "Passenger")</li>
                 
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()


    </div>




    <div>
        <footer class="container-fluid footerClass">
            <div class="container" style="text-align:center">
                <div class="col-lg-12 footerDownload">
                    Download and Book Now
                </div>

                <div class="col-lg-12">

                    <a href="#" target="_blank"><img src="~/Content/image/app-store.png" style="width:120px;height:auto" /> </a>

                    <a href="#" target="_blank"><img src="~/Content/image/google-play.png" style="width:120px;height:auto" /> </a>

                    <a href="#" target="_blank"><img src="~/Content/image/blackberry-appworld-logo.png" style="width:120px;height:auto" /> </a>

                </div>
            </div>

        </footer>
    </div>


    <div>
        <footer class="container-fluid footerClass">
            <div class="container">
                <div class="col-lg-12 ">
                    <div class="col-lg-4 ">
                        <div class="footerHead"><i class="fa fa-map-marker"></i> LOCATION</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footerHead">CONTACT US</div>
                        <div>
                            <i class="fa fa-phone"></i>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="footerHead">QUICK LINKS</div>
                        <div class="socialIconFooter">
                            <a href="#"><i class="fa fa-facebook-square iconPad"></i>Facebook</a>
                        </div>
                        <div class="socialIconFooter">
                            <a href="#"><i class="fa fa-twitter-square iconPad"></i>Twitter</a>
                        </div>
                        <div class="socialIconFooter">
                            <a href="#"><i class="fa fa-instagram iconPad"></i>Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    @*<script>
        $(document).ready(function () {

            $("form").validate({
                lang: 'en',
                rules: {
                    name: {
                        minlength: 3,
                        
                        required: true
                    },
                    email: {
                        minlength: 3,
                       
                        required: true,
                        email: true
                    },
                    telefon: {
                        number: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error')
                    $(element).parent().find('.form-control-feedback').removeClass('glyphicon-ok').addClass('glyphicon-remove');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).parent().find('.form-control-feedback').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                },
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function () {
                    var data = $("#contact").serialize();

                    $.ajax({
                        type: "POST",
                        url: "ajax/email.php",
                        data: data,
                        success: function (q) {
                            $("#ContactFormDiv").html(q);
                        }
                    });
                }
            });

            $('#cancel').on('click', function () {
                $("#contact").validate().resetForm();
                $("#contact").find(".has-error, .has-success, .glyphicon-ok, .glyphicon-remove").removeClass("has-error has-success glyphicon-ok glyphicon-remove");
            });

        });
    </script>*@

    <script>
        $(document).ready(function () {
            $('#contact_form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                min: 2,
                            },
                            notEmpty: {
                                message: 'Please supply your first name'
                            }
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                min: 2,
                            },
                            notEmpty: {
                                message: 'Please supply your last name'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Please supply your email address'
                            },
                            emailAddress: {
                                message: 'Please supply a valid email address'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: {
                                message: 'Please supply your phone number'
                            },
                            phone: {
                                country: 'US',
                                message: 'Please supply a vaild phone number with area code'
                            }
                        }
                    },
                    address: {
                        validators: {
                            stringLength: {
                                min: 8,
                            },
                            notEmpty: {
                                message: 'Please supply your street address'
                            }
                        }
                    },
                    city: {
                        validators: {
                            stringLength: {
                                min: 4,
                            },
                            notEmpty: {
                                message: 'Please supply your city'
                            }
                        }
                    },
                    state: {
                        validators: {
                            notEmpty: {
                                message: 'Please select your state'
                            }
                        }
                    },
                    zip: {
                        validators: {
                            notEmpty: {
                                message: 'Please supply your zip code'
                            },
                            zipCode: {
                                country: 'US',
                                message: 'Please supply a vaild zip code'
                            }
                        }
                    },
                    comment: {
                        validators: {
                            stringLength: {
                                min: 10,
                                max: 200,
                                message: 'Please enter at least 10 characters and no more than 200'
                            },
                            notEmpty: {
                                message: 'Please supply a description of your project'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                    $('#contact_form').data('bootstrapValidator').resetForm();

                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        console.log(result);
                    }, 'json');
                });
        });


    </script>


    <script>
        function toggleChevron(e) {
            $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
    </script>

    <script>
        $("#fileUpload").on('change', function () {

            if (typeof (FileReader) != "undefined") {

                var image_holder = $("#image-holder");
                image_holder.empty();

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                        "class": "thumb-image",
                        "style":"height:150px;width:120px;"
                    }).appendTo(image_holder);

                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("This browser does not support FileReader.");
            }
        });
    </script>

    <script>
        $(window).load(function () {

            $('#step1Detail').show();
            $('#step2Detail').hide();
            $('#step3Detail').hide();
            $('#step4Detail').hide();

            $("#step1").css("background-color", "#2ecb71");
            $("#step2").css("background-color", "white");
            $("#step3").css("background-color", "white");
            $("#step4").css("background-color", "white");

            $("#arrow1").css("color", "#f23c3c");
            $("#arrow2").css("color", "#f23c3c");
            $("#arrow3").css("color", "#f23c3c");
        });
        $('#step1').click(function () {
           
            $('#step1Detail').show();            
            $('#step2Detail').hide();
            $('#step3Detail').hide();
            $('#step4Detail').hide();

            $("#step1").css("background-color", "#2ecb71");
            $("#step2").css("background-color", "white");
            $("#step3").css("background-color", "white");
            $("#step4").css("background-color", "white");

            $("#arrow1").css("color", "#f23c3c");
            $("#arrow2").css("color", "#f23c3c");
            $("#arrow3").css("color", "#f23c3c");
        });
        $('#step2').click(function () {

            $('#step1Detail').hide();
            $('#step2Detail').show();
            $('#step3Detail').hide();
            $('#step4Detail').hide();

            $("#step1").css("background-color", "white");
            $("#step2").css("background-color", "#2ecb71");
            $("#step3").css("background-color", "white");
            $("#step4").css("background-color", "white");

            $("#arrow1").css("color", "#2ecb71");
            $("#arrow2").css("color", "#f23c3c");
            $("#arrow3").css("color", "#f23c3c");
        });
        $('#step3').click(function () {

            $('#step1Detail').hide();
            $('#step2Detail').hide();
            $('#step3Detail').show();
            $('#step4Detail').hide();

            $("#step1").css("background-color", "white");
            $("#step2").css("background-color", "white");
            $("#step3").css("background-color", "#2ecb71");
            $("#step4").css("background-color", "white");

            $("#arrow1").css("color", "#2ecb71");
            $("#arrow2").css("color", "#2ecb71");
            $("#arrow3").css("color", "#f23c3c");
        });
        $('#step4').click(function () {

            $('#step1Detail').hide();
            $('#step2Detail').hide();
            $('#step3Detail').hide();
            $('#step4Detail').show();

            $("#step1").css("background-color", "white");
            $("#step2").css("background-color", "white");
            $("#step3").css("background-color", "white");
            $("#step4").css("background-color", "#2ecb71");

            $("#arrow1").css("color", "#2ecb71");
            $("#arrow2").css("color", "#2ecb71");
            $("#arrow3").css("color", "#2ecb71");
        });
    </script>
</body>
</html>
