@model GrabCarMVC.Models.Pax

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pax</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.userName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName)
                @Html.ValidationMessageFor(model => model.userName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pass)
                @Html.ValidationMessageFor(model => model.pass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FName)
                @Html.ValidationMessageFor(model => model.FName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LName)
                @Html.ValidationMessageFor(model => model.LName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.photo)
                @Html.ValidationMessageFor(model => model.photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mob)
                @Html.ValidationMessageFor(model => model.mob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NidNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NidNo)
                @Html.ValidationMessageFor(model => model.NidNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NidFront, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NidFront)
                @Html.ValidationMessageFor(model => model.NidFront)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NidBack, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NidBack)
                @Html.ValidationMessageFor(model => model.NidBack)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmerPName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmerPName)
                @Html.ValidationMessageFor(model => model.EmerPName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmerPNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmerPNo)
                @Html.ValidationMessageFor(model => model.EmerPNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WhereDesh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WhereDesh)
                @Html.ValidationMessageFor(model => model.WhereDesh)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
